.paper {
  border-color: var(--mantine-color-teal-2);
}

/* Markdown Renderer */

.thoughtsRenderer {
  border-radius: var(--mantine-radius-default)
}

.markdownRenderer {
  overflow-y: auto;
  max-height: 540px;
}

.pre {
  overflow-x: auto;
  max-width: 100%;
}

