.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-cc {
  animation: spinCC 1s linear infinite;
}

@keyframes spinCC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); /* Counter-clockwise rotation */
  }
}