.nodeContainer {
  border-color: var(--mantine-color-yellow-0);
}

.bottomContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.toggleAdvancedConfig {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

.toggleAdvancedConfigOpen {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

/* Advanced Config */

.switchBody {
  justify-content: space-between;
}